.card {
    background: #fff;
    border-radius: 2px;
    height: 200px;
    margin: 1em 1.5em;
    position: relative;
    width: 200px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    display: inline-block;
  }
  
  .card > .img-container {
    height: 64;
    width: 64;
    overflow: hidden;
    text-align: center;
    background: #F5B041;

  }
  .card > .img-container > img {
    width: 64;
    height: 64;
  }